# Django project directories
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/
*.env

# Development database
db.sqlite3

# Logs
*.log

# Generated media and static files
media/
staticfiles/

# IDE specific files
.vscode/
*.idea/

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.local_settings.py

# Compiled translation files
locale/
